/*$color-1: #5b9aa0;
$color-2: #d6d4e0;
$color-3: #b8a9c9;
$color-4: #622569;*/

/*@import "bootstrap";*/

body {
    background-color: #d6d4e0;
  }

/*h1 {
  text-align: center;
  color: #622569;
}*/

h1, h2, h3, h4 {
  text-align: center;
  color: #622569;
}

.navbar {
  background-color: rgb(146, 168, 209);
}

.card { 
  background-color: rgb(146, 168, 209);
}

.btn-small {
  margin: 2px;
  padding: 2px;
}

.card {
  padding: 2em;
  margin: 2em;
}
