/*$color-1: #5b9aa0;
$color-2: #d6d4e0;
$color-3: #b8a9c9;
$color-4: #622569;*/

/*@import "bootstrap";*/

#my-doc {
    /*background: url(../assets/concrete-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: #d6d4e0;
  }

h1, h2, h3, h4 {
  text-align: center;
  color: #b8a9c9;
}

.navbar {
  background-color: rgb(146, 168, 209);
}

.card { 
  background-color: rgb(146, 168, 209);
}

.btn-small {
  margin: 2px;
  padding: 2px;
}

.card {
  padding: 2em;
  margin: 2em;
}
